.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    max-width: 240px;
    height: 180px;
}

.large-image {
    max-width: 475px;
    height: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.left-item {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.right-item {
    display: flex;
}

.hero, footer, header {
    background-color: #1F2937;
    padding: 48px;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    gap: 32px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 12px;
    margin-bottom: 12px;
}


* { 
    font-family: "Roboto";
    border: 1px red solid;
}

button, .call-to-action {
    background-color: #3882F6;
}

button {
    padding: 8px;
    border-radius: 10px;
    font-weight: 550;
    color: #E5E7EB;
}

.button-hero {
}

.button-cta {
    border: 1px solid #E5E7EB;
}

.quotes, .call-to-action {
    padding: 48px;
}

.call-to-action {
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.cta-left, .cta-right {
    margin: 48px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-self: center;
}

.info-items {
    display: flex;
    justify-content: center;;
}

.item1, .item2, .item3 {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.information {
    margin: 48px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: "Roboto" light italic;
    color: #1F2937;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}

a { 
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
}


