body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 200px;
    max-height: auto;
}

.large-image {
    max-width: 350px;
    max-height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

* {
    border: 1px red solid;
}